[Unit]
Description=Check for stable Desk Display updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=6h
RandomizedDelaySec=20min
Persistent=true
Unit=desk-display-update.service

[Install]
WantedBy=timers.target
